# Dependencies
node_modules/
.pnpm-debug.log*
.yarn-integrity

# Environment
.env
.env.local
.env.production


# Prisma
prisma/migrations/
!prisma/migrations/.gitkeep

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
dist
db_guide.md
LOCAL_AUTH_TESTING.md